@use "variables" as *;

.mar-bot-56 {
  margin-bottom: 5.6rem;
}

.mar-bot-40 {
  margin-bottom: 4rem;
}

.mar-bot-12 {
  margin-bottom: 1.2rem;
}

.mar-bot-8 {
  margin-bottom: 8px;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
}

.photo-small {
  width: 8.4rem;
  height: auto;
}

.photo-big {
  width: 21rem;
  height: auto;
}
