$black-1: #000b12;
$black-2: #102028;

$dark-blue-1: #2e404b;
$dark-blue-2: #2f474f;
$dark-blue-3: #2f484d;
$dark-blue-4: #455d6a;
$dark-blue-5: #2f4550;

$light-blue-1: #587483;
$light-blue-2: #87a5b6;
$light-blue-3: #95b5c6;
$light-blue-4: #3e6259;

$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-big: 2.8rem;
